body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    cursor: grab;
}

.category h3 {
    font-size: 18px;
    color: #512da8;
    margin-bottom: 10px;
}

.category .total {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.category .budget-input {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

.category .spending {
    margin-top: 10px;
}

.category .spending-input {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    margin-right: 5px;
}

.category .save-spending-btn {
    background-color: #512da8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

.category .save-spending-btn:hover {
    background-color: #6a4be7;
}

.category .toggle-category-btn {
    background-color: #007bff; /* Plava boja gumba */
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.category .toggle-category-btn:hover {
    background-color: #0056b3; /* Tamnija plava pri hoveru */
}

.category .toggle-category-btn:focus {
    outline: none; /* Uklanja okvir pri fokusu */
}

.dragging {
    opacity: 0.5;
}

/* Stil za gumb odjave */
.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-btn {
    text-decoration: none;
    color: #ff4d4d;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.logout-btn i {
    margin-right: 8px;
}

.logout-btn:hover {
    color: #ff1a1a;
}
